<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 align="center">Recipe: <%= @recipe.name.capitalize %></h1>
        <h3 align="center">Add a Comment: </h3>
      
      <hr />
      
<%= form_for([@recipe, @comment], :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group">
      <div class="control-label col-md-2">
        <%= f.label :description, "Comment" %>
      </div>
      <div class="col-md-8">
        <%= f.text_area :description, rows: 8, class: "form-control", placeholder: "Enter Comment Here" %>
      </div>
    </div>

    <div class="form-group">
      <div align="center" class="col-md-8">
        <%= f.submit "Submit Comment", class: "btn btn-primary btn-lg btn-xlarge" %>
      </div>
    </div>

<% end %>

      <hr />

    </div>
</div>